*{

  font-family: 'Lato', serif;
  margin:0em;

}


#selection {
    /*background-color: #e7c84c;*/
}

#selection .imageheader {
    background: -webkit-linear-gradient(top, transparent, #e7c84c), url(../images/backgrounds/soccer.jpg);
    background: linear-gradient(180deg, transparent, #e7c84c), url(../images/backgrounds/soccer.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 100vh;
    max-height: 40vh
}

#selection .headline {
    color: #fff;

}

#selection .search-option {

  display: flex;
  justify-content: space-between;

}

#selection .search-option .option-card {
    background: hsla(0, 0%, 100%, .2);
    box-shadow: 5px 5px 3px rgba(243, 211, 80, .5);
    border-radius: 20px;
    margin-bottom: 5rem;
    margin: 0em 2em;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    -webkit-transform: scale(.9);
    transform: scale(.9);
    opacity: .8;/*.card-text*/
    flex: 1;
    letter-spacing: 0.07em;
}

#selection .search-option .option-card .card-info {
    background: rgba(255, 177, 47, .9);
    padding: 3% 7%;
}

#selection .search-option .option-card .card-info .card-name {
    font-size: 1.2em;
    line-height: 110%;
    color: #d14348
}

#people .search-option .option-card .card-info .card-title {
    color: hsla(0, 0%, 100%, .6);
    font-size: 0.8em;
    line-height: 100%;
    letter-spacing: 0.07em;
}


/*.card-info*/

#people .search-option .option-card .card-text {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 130%;
    margin: 0;
    padding: 7%
}

#people .search-option .option-card .card-text em {
    color: #f2a82d;
    font-size: 2.2rem
}

#people .search-option .poption-card:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 1
}

 h1{

  margin: 1em 2em;
  font-size: 1.2em;
  letter-spacing: 0.07em;


}

a{
  text-decoration: none;
  color: #000;
}

a:hover{

  color: #AAA;
}

a.registerLink:hover, a.registerLink {
  text-decoration: underline;
  margin-top: 5em;
}

#nav{

  margin: 1em 2em;
  font-size: 0.8em;
  letter-spacing: 0.05em;
}

.header-flex{

  display: flex;
  align-items: center;
  justify-content: space-between;
}

h2{

  margin: 2em 3em;
  font-size: 1.2em;
  letter-spacing: 0.07em;

}

/*.register {
   /*margin: auto;
   width: 50%;
   margin-right: 5em;
   border: 1em #AAA;
   padding: 10px;
}*/

#header-img{

  width:100%;
  height:auto;
  margin: 2em 0em 0em 0em;


}

#index-img{

  width:100%;
  height:auto;
}

#program-card{

  margin: 3em;

}

#program-card h3{

  font-size: 1.1em;
  letter-spacing: 0.07em;
  margin: 1em 0em;

}

#program-card p{

  font-size: 0.8em;
  letter-spacing: 0.07em;
  width:50%;
}

.button {
  background-color: #AAA;
  border: none;
  color: white;
  padding: 0.7em 1em;
  text-align: center;
  font-size: 16px;
  margin-top: 1em;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {opacity: 1}

form {
  margin: 1em 2.5em;

}
